.header {
  display: flex;
  position: fixed;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  align-items: center;
}

.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

.navigation {
  padding-right: 40px;
}

nav a:visited {
  color: black;
}

nav span {
  padding: 20px 10px;
}
