.header {
  display: flex;
  position: fixed;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  align-items: center;
  z-index: 5;
  background-color: white;
}

.logo {
  display: flex;
  padding-left: 30px;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquamarine;
}

.header nav {
  padding-right: 40px;
}

nav a:visited {
  color: black;
}

nav span {
  padding: 20px 10px;
}

.main {
  display: flex;
  position: relative;
  width: 100%;
  top: 80px;
  justify-content: center;
}

.column.large {
  width: 630px;
  padding-right: 35px;
}

.column.medium {
  width: 300px;
  padding-right: 35px;
}

.column.small {
  width: 240px;
  padding-right: 35px;
  }

.article_img span{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.article p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.article {
  display: flex;
  flex-direction: column;
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.articles .article {
  width: 47%;
  height: 250px;
}

#mother_tuna {
  background-image: url("../images/img-story-main.png");
  height: 300px;
}

#earth_spins {
  background-image: url("../images/img-story-2.png");
  height: 300px;
}

#cameras {
  background-image: url("../images/img-story-3.png");
  height: 300px;
}

#cats {
  background-image: url("../images/img-story-1.png");
  height: 300px;
}

#main_article span{
  font-size: 40px;
}

#main_article p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
